*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main{
    max-width: 920px;
    margin: auto;
    padding: 110px 20px ;
}

.coder{
    font-family: Poppins;
    text-align: center;
    color: rgb(161, 161, 161);
    margin-bottom: 40px;
}

