.presentation{
    display: flex;
    justify-content: space-between;

    margin-bottom: 96px;

    @media (max-width: 750px){
        flex-direction: column;
    }

    &__title{
        font-family: "PT Serif";

        font-size: 36px;
        font-weight: 700;
        letter-spacing: -4.5%;

        @media (max-width: 750px){
            margin-bottom: 38px;
        }
    }

    &__article{
        font-family: Poppins;
        width: 50%;

        @media (max-width: 750px){
            width: 100%;
        }
    }

    &__subtitle{
        font-weight: 600;
        font-size: 18px;
        line-height: 27px;

        margin-bottom: 10px;
    }

    &__paragraph{
        font-weight: 400;
        font-size: 18px;
        line-height: 27px;

        @media (max-width: 750px){
            font-size: 14px;
            line-height: 21px;
        }
    }

    
}