.galery{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 40px;

    @media (max-width: 850px){
        grid-template-columns: repeat(2, 1fr);
        grid-column-gap: 27px;
    }
}